name: Deploy to Kubernetes

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Manually trigger workflow

jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy the Pod
        run: |
          kubectl apply -f nginx-pod.yaml
